.venv
database/.env
*.pyc
tempCodeRunnerFile.py
.DS_store
found_solutions/*.json
algorihtm/__pycache__
.idea
site
.env
tests/cp/constraints/output_test_all_constraints*
tests/cp/constraints/mass*
processed_solutions/*
