# Exclude generated HTML from GitHub language stats
ExampleSolutionView.html linguist-generated
# Treat docs as documentation in GitHub Linguist
docs/** linguist-documentation
# Treat case data as generated in GitHub Linguist
cases/** linguist-generated
