site_name: Staff Scheduling

nav:
  - Introduction: index.md
  - Getting Started:
      - getting-started/index.md
      - Prerequisites: getting-started/prerequisites.md
      - Installation: getting-started/installation.md
      - First Steps: getting-started/first-steps.md
  - Concepts:
      - Constraints: concepts/constraints.md
      - Datatabase: concepts/database.md
      - Visualization: concepts/visualization.md

theme:
  name: material
  language: en
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs.sticky
    - content.code.copy

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums: false
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - admonition
  - toc:
      baselevel: 2
      permalink: true
      slugify: !!python/name:pymdownx.slugs.uslugify
  - meta
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
plugins:
  - include-markdown
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          options:
            # disable by default, as it can not do attributes anyways
            inherited_members: true
            merge_init_into_class: true
            show_source: false
