<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff Scheduling Preview</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body class="bg-body p-4 container-fluid">
        <nav class="bg-body-tertiary mb-4 p-2 rounded shadow-sm">
            <h1 class="text-primary">Staff Scheduling Preview</h1>
            <div class="d-flex w-100" style="column-gap: .5rem;">
                <div class="w-100">
                    <label for="solution_file_select" class="form-label">Select Solution</label>
                    <select id="solution_file_select" class="form-select">
                        {% for solution_file_name in solution_file_names %}
                            <option value="{{ solution_file_name }}" {{ 'selected' if solution_file_name == selected_solution_file_name }}>{{ solution_file_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="fullscreen_button" class="form-label">Fullscreen</label>
                    <button id="fullscreen_button" class="btn btn-primary">Go Fullscreen</button>
                </div>
            </div>
        </nav>


    <div class="mb-4">
        <h4 class="text-success">Schedule Statistics</h4>
        {% set stat_labels = {
        'forward_rotation_violations': 'Forward Rotation Violations',
        'consecutive_working_days_gt_5': 'Consecutive Working Days > 5',
        'no_free_weekend': 'No Free Weekend',
        'consecutive_night_shifts_gt_3': 'Consecutive Night Shifts > 3',
        'total_overtime_hours': 'Total Overtime Hours',
        'no_free_days_around_weekend': 'No Free Days Around Weekend',
        'not_free_after_night_shift': '48 Hrs Not Free After Night Shift',
        'violated_wish_total': 'Violated Wishes',
        } %}
        <ul>
            {% for key, value in stats.items() %}
            <li><strong>{{ stat_labels[key] or key }}:</strong> {{ '%.2f' | format(value) if value is number else value
                }}</li>
            {% endfor %}
        </ul>

      </div>

        <main class="bg-body-tertiary p-2 rounded shadow-sm">
            <div class="w-100 overflow-scroll vh-100" id="schedule_table" >
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap" style="position: sticky; top: 0; left: 0; z-index: 3;">Employee</th>
                            {% for day in days %}
                                <th class="text-center text-nowrap" style="position: sticky; top: 0; z-index: 2;{{ 'background-color: oklch(92.2% 0 0); ' if day.isoweekday() in [6,7] }}">
                                    {{ day }}
                                    <br />
                                    <span class="text-secondary">{{ day.strftime("%A") }}</span>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                            {% set ns = namespace(actual_minutes=0,actual_shifts=0) %}
                            {% for day in days %}
                                {% for shift in shifts %}
                                    {% if not shift.is_exclusive %}
                                        {% set key = "(" ~ employee.get_key() ~ ", '" ~ day ~ "', " ~ shift.get_id() ~ ")" %}
                                        {% if variables[key] == 1 %}
                                            {% set ns.actual_shifts = ns.actual_shifts + 1 %}
                                            {% set ns.actual_minutes = ns.actual_minutes + shift.duration %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% set actual_shifts = ns.actual_shifts %}
                            {% set actual_hours = ns.actual_minutes / 60 %}
                            {% set target_hours = employee.get_available_working_time() / 60 %}
                            {% set overtime = (actual_hours - target_hours)|abs > 7.67  %}
                            <tr>
                                <td class="text-center text-nowrap" style="position: sticky; left: 0; z-index: 1;{{ ' background-color: oklch(89.2% 0.058 10.001); ' if overtime }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="{{ actual_shifts }} shifts </br> {{ '%.2f'|format(actual_hours) }}h of {{ '%.2f'|format(target_hours) }}h">
                                    {{ employee.name }}
                                    <br />
                                    <span class="text-secondary">{{ employee.level }}</span>
                                </td>
                                    {% for day in days %}
                                    {% set bg_style = '' %}
                                    {% set key_day = (employee.get_key(), day) %}
                                    {% set is_day_off_wished = key_day in all_day_off_wish_cells %}
                                    {% set shift_assigned = false %}
                                    {% for shift in shifts %}
                                        {% set key = "(" ~ employee.get_key() ~ ", '" ~ day ~ "', " ~ shift.get_id() ~ ")" %}
                                        {% if variables[key] == 1 %}
                                            {% set shift_assigned = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if key_day in fulfilled_day_off_cells %}
                                        {% set bg_style = 'background-color: #fff9c4;' %}
                                    {% elif key_day in fulfilled_shift_wish_cells %}
                                        {% set bg_style = 'background-color: #E0F8E0;' %}
                                    {% elif employee.unavailable(day) %}
                                        {% set bg_style = 'background-color: oklch(97.1% 0.013 17.38);' %}
                                    {% elif day.isoweekday() in [6,7] %}
                                        {% set bg_style = 'background-color: oklch(92.2% 0 0);' %}
                                    {% endif %}

                                    <td class="text-center text-light" style="position: relative; height: 1px; {{ bg_style }}">
                                        <div class="d-flex flex-column w-100 h-100" style="row-gap: .5rem;">
                                            <div class="d-flex">
                                                {% for shift in shifts %}
                                                    {% if employee.unavailable(day, shift) %}
                                                        <div class="rounded" style="width: .5rem; height: .5rem; background-color: {{ shift.color }}; border-radius: 50%;"></div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="d-flex">
                                                {% for color in all_shift_wish_colors.get((employee.get_key(), day), []) %}
                                                    <div style="width: .5rem; height: .5rem; background-color: {{ color }}; transform: rotate(45deg);"></div>
                                                {% endfor %}
                                            </div>

                                            {% if is_day_off_wished %}
                                            <div class="d-flex">
                                                <!-- day-off wish triangle -->
                                                <div style="
                                                    width: 0;
                                                    height: 0;
                                                    border-left: 0.25rem solid transparent;
                                                    border-right: 0.25rem solid transparent;
                                                    border-bottom: 0.5rem solid #b77c02;
                                                    margin-left: .1rem;">
                                                </div>
                                            </div>
                                            {% endif %}

                                            {% for shift in shifts %}
                                                {% set key = "(" ~ employee.get_key() ~ ", '" ~ day ~ "', " ~ shift.get_id() ~ ")" %}
                                                {% if variables[key] == 1 %}
                                                    <div class="w-100 h-100 rounded" style="background-color: {{ shift.color }};">
                                                        {{ shift.name }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <script>

            document.addEventListener('DOMContentLoaded', function () {
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            });

            document.getElementById('solution_file_select').addEventListener('change', e => {
                const file = encodeURIComponent(e.target.value);
                window.location.href = `/?solution_file_name=${file}`;
            });

            document.getElementById('fullscreen_button').addEventListener('click', () => {
                if (!document.fullscreenElement) {
                    document.getElementById('schedule_table').requestFullscreen();
                }
            });
        </script>
    </body>
</html>
